/* Setting margin, padding and font family for all elements in the page */

* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
}


/* Setting background color for body */
body {
    background-color: #323232;
}

/* Styling for header and footer */
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9b233;
    position: fixed;
    height: 6vh;
}

/* Styling for header */
header {
    top: 0;
    left: 0;
    right: 0;
}

/* Styling for footer */
footer {
    bottom: 0;
    left: 0;
    right: 0;
}

/* Styling for calculator container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* table {
    background-color: #f8f8f8;
    padding: 15px 17px;
    border-radius: 7px;
    box-shadow: .5px .5px 20px #2f08a2, -.5px -.5px 20px #ee0707;
} */

/* Table style */
table {
    background-color: #f8f8f8;
    padding: 15px 17px;
    border-radius: 7px;
    animation: shadow 30s infinite;
}

/* Keyframes for box-shadow animation */
@keyframes shadow {

    0%,
    30%,
    60%,
    90% {
        box-shadow: .5px .5px 10px #c10add, -.5px -.5px 10px #ee0707, -5px -5px 30px #ee6707;
    }

    10%,
    40%,
    70%,
    95% {
        box-shadow: .5px .5px 10px #15b8e1, -.5px -.5px 10px #07ee12, -5px -5px 30px #bcc13b;
    }

    20%,
    50%,
    80%,
    100% {
        box-shadow: .5px .5px 10px #c4e80e, -.5px -.5px 10px #ee079d, -5px -5px 30px #16b47a;
    }
}

/* Table header and cell style */
th,
td {
    padding: 10px;
    text-align: center;
}

/* Input style */
input {
    background-color: #2c2c2c;
    width: 220px;
    color: aliceblue;
    padding: 15px 17px;
    border-radius: 7px;
    box-shadow: .5px .5px 2px #d2f603, -.5px -.5px 8px #f80101;
    pointer-events: none;
}

/* Image style */
img {
    width: 15px;
    height: 15px;
}

/* Button style */
button {
    padding: 15px 17px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #141113;
}

button:hover {
    background-color: #f9b233;
    transition: all .5s;
}

/* Plus button style */
#plus {
    height: 120px;
}

/* Clear all button style */
#clearall {
    width: 110px;
}